/* Výchozí stav */
.square {
    width: 300px;
    height: 300px;
    margin-bottom: 50px;
    background-color: red;
    opacity: 0;
    transform: translateX(100px);
}


/* Cílový stav */
.fade-in {
    opacity: 1;
    transform: translateX(0px);
}

/* Vlastností plynulého přechodu mezi dvěma stavy */
.square {
    transition: all 2s;
    /* transition: transform 2s ease-in-out, opacity 1s linear; */
}