.table th,
.table td {
    border-top: 1px solid #dee2e6;
    padding: 0.75rem;
}
.table thead th {
    background-color: #343a40;
    color: white;
}
.table {
    border-collapse: collapse;
    margin-bottom: 1rem;
}

.table-bordered th,
.table-bordered td {
    border: 1px solid #dee2e6;
}
