/* purgecss start ignore */
.do-not-purge-this-class {
    color: pink;
    font-size: 2rem;
}

/* purgecss end ignore */

h1 {
    color: purple
}

h2 {
    color: blue;
}

h3 {
    color: red;
}

h4 {
    color: green;
}