/*!
 * Global | WEB
 */

html,
body {
    min-height: 100vh;
}


.bg-primary {
//background-color: #007bff;
}
.bg-secondary {
    //background-color: #6c757d;
}
.bg-success {
    //background-color: #28a745;
    background: #B24592;
    background: linear-gradient(-45deg, #F15F79 20%, #B24592 80%);
}
.bg-danger {
    background-color: #dc3545;
}
.bg-warning {
    background-color: #ffc107;
}
.bg-info {
    //background-color: #17a2b8;

    color: #ffffff;
    background-color: #159957;
    background-image: linear-gradient(120deg, #155799, #159957);
}
.bg-light {
    background-color: #f8f9fa;
}
.bg-dark {
    background-color: #343a40;
}
.bg-white {
    background-color: #fff;
}
.bg-transparent {
    background-color: transparent;
}
