body {
    padding-top: 3em;
}
.headroom {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    background-color: #292f36;
    color: wheat;
    padding: 1em 8px;
}



/*
.headroom--pinned {
    display: block;
}
.headroom--unpinned {
    display: none;
}
*/



.headroom--pinned {
    transform: translateY(0);
}
.headroom--unpinned {
    transform: translateY(-100%);
}
.headroom {
    transition: transform 0.5s ease-in-out;
    will-change: transform;
}
